<!DOCTYPE html>
<html lang="en" ng-app="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <script src="angular.min.js"></script>
    <style type="text/css">
        body {
            background-color: {
                    {
                    color
                }
            }

            ;
        }

        p {
            font-size: {
                    {
                    color
                }
            }

            ;
        }

        body {
            background-color: {
                    {
                    colr
                }
            }

            ;
        }
    </style>
</head>

<body>
    <input type="text" ng-model="color" name="">
    <p>Tanzeela Fatima</p>


    <br>
    <br><br><br><br>
    <select ng-model="colr">
        <option value="">red</option>
        <option value="">blue</option>
        <option value="">green</option>
        <option value="">yellow</option>
    </select>
</body>

</html>